.deposit-container {
  display: flex;
  flex-direction: column;
  background-color: #17181f;
  color: #fff;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.deposit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.deposit-header .back-button {
  color: #007bff;
  cursor: pointer;
}

.deposit-header h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.deposit-steps-container {
  background-color: #1d1e22;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.deposit-steps-container img {
  content: url('src/assets/deposit.png');
  width: 100%;
  height: 100%;
  object-fit: contain; 
  filter: brightness(1.3);
}


.deposit-content-container {
  background-color: #1d1e22; 
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  max-width: 1200px;
  margin: 0 auto;
}

.deposit-content {
  display: flex;
}

.crypto-selection {
  width: 40%;
  margin-right: 20px;
}

.crypto-selection h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.crypto-selection select,
.deposit-address input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1f2128; 
  color: #fff;
}

.deposit-address {
  display: flex;
}

.deposit-address button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.deposit-info {
  width: 60%;
}

.deposit-info h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.deposit-info p {
  margin-bottom: 10px;
}

.faq-links {
  display: flex;
  justify-content: space-between;
}

.faq-links p {
  color: #007bff;
  text-decoration: none;
}

.faq-questions h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.faq-questions p {
  margin-bottom: 10px;
}

.faq-questions a {
  color: #007bff;
  text-decoration: none;
}

.faq-questions img {
  content: url('src/assets/depositfaq.png');
  width: 100%;
  filter: brightness(1.3);
}

@media (max-width: 768px) {
  .deposit-steps-container {
    width: 100%;
    height: auto;
  }

  .deposit-steps-container img {
    content: url('src/assets/deposit_mobile.png');
    width: 100%;
    height: auto;
    object-fit: fill;
  }

  .faq-questions img {
    content: url('src/assets/depositfaq_mobile.png');
    display: block;
    max-width: 75%;
    height: 50%;
  }

  .deposit-content {
    flex-direction: column;
  }

  .crypto-selection {
    margin-bottom: 20px;
  }
}